img {
  width: 50px;
}
#face {
  width: 400px;
}
#eyes2{
  width:200px;
  position:absolute;
  top:200px;
  left:100px;
}
#mouth1{
  width:200px;
  position:absolute;
  top:300px;
  left:100px;
}
#nose2{
  width:70px;
  position:absolute;
  top:260px;
  left:165px;
}
#hat{
  width:300px;
  position:absolute;
  top:10px;
  left:60px;
}
#moustache{
  width:70px;
  position:absolute;
  top:300px;
  left:165px;
}
#bowtie{
  width:100px;
  position:absolute;
  top:390px;
  left:150px;
}